@import "moren";
.div1{
	width:60px;
	height:15px;
	line-height:15px;
	text-align:center;
}
.ul1{
	width:60px;
	height:75px;
	line-height:15px;
	text-align:center;
	// background:blue;
	display:none;
}
.ul1 li{
	// border:1px red solid;
	vertical-align:top;
	line-height:15px;
}

